@font-face {
    font-family: top;
    src: url(../Inter-VariableFont_slnt\,wght.ttf);
}


body,html{
    padding: 0;
    margin: 0;
}





.projects{
    background-color: black;
    color:white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    
    font-size: 1.6rem;
    font-family: top;
    /*text-decoration: underline;*/
    grid-row-start: 1;
    grid-row-end: 3;
}


.projects>button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    text-decoration: wavy;
}


.projects>button:hover{
    background-color: honeydew;
}


.projediv{

    text-decoration: none;

    font-size: 1.3rem;


}


.projediv:hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}




.head{
    background-color: honeydew;
    color: black;
    font-family: top;
    font-weight: bold;
}


.head>button{
    border-radius: 25px;
    
}

.ma{
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    grid-template-columns: 0.5fr 2fr;




    width: 100vw;
    height: 100vh;


}

.head{
    text-align: center;
}


.job{
    font-family: top;
    background-color: aqua;

    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;


    border-radius: 25px;
}

.jobs{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    /*align-items: center;*/
    justify-items: center;
    align-items: center;
}


form{
    display: none;
}


.formVis{
    background-color: honeydew;
    color: black;
    display: block;
    position: absolute;
    right: 15%;
    top: 15%;
}


.fclass{
    display: flex;
    gap: 1em;

}


.editt{
    display: none;
    
}


.formviss{
    display: block;
}


